// 这个配置使用 KDL 格式：https://kdl.dev
// `/-` 会把后面的节点注释掉。
// 配置的完整说明请查看 wiki：
// https://yalter.github.io/niri/Configuration:-Introduction

// ==================
// 环境变量
// ==================
environment {
    QT_QPA_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORMTHEME "kvantum"
    QT_STYLE_OVERRIDE "kvantum"
    GTK_IM_MODULE "fcitx"
    QT_IM_MODULE "fcitx"
    XMODIFIERS "@im=fcitx"
    SDL_IM_MODULE "fcitx"
    INPUT_METHOD "fcitx"
    TERMINAL "kitty"
    XCURSOR_THEME "Bibata-Modern-Ice"
    XCURSOR_SIZE "24"
    EDITOR "nvim"
    VISUAL "nvim"
    aurhelper "paru"
}

// 输入设备配置。
// 完整选项列表请查看 wiki：
// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
        }

        numlock
    }

    touchpad {
        tap
        dwt
        dwtp
        natural-scroll
        accel-speed 0.18
        scroll-method "two-finger"
        scroll-factor 0.2
        click-method "clickfinger"
        tap-button-map "left-right-middle"
    }

    mouse {
        // accel-speed 0.2
        accel-profile "flat"
    }

    trackpoint {
        accel-speed 0.2
    }
    focus-follows-mouse max-scroll-amount="0%"
}

output "eDP-1" {
    mode "1920x1080@60"
    scale 1.15
    focus-at-startup
}

// 影响窗口摆放和尺寸的设置。
// 更多信息请查看 wiki：
// https://yalter.github.io/niri/Configuration:-Layout
layout {
    // 以逻辑像素设置窗口周围的间隙。
    gaps 9
    center-focused-column "on-overflow"

    always-center-single-column
    preset-column-widths {
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    // 你可以修改新窗口的默认宽度。
    // default-column-width { proportion 0.5; }
    // 如果把大括号留空，窗口本身会决定初始宽度。
    default-column-width { }

    

    focus-ring {
        // 取消注释这一行即可禁用聚焦环。
        off

        // 环向外延伸多少逻辑像素。
        width 6

        // 活动显示器上的环颜色。
        active-color "#7fc8ff"

        // 非活动显示器上的环颜色。
        //
        // 聚焦环只会画在活动窗口周围，因此你只能在其他显示器上看到
        // 它的 inactive-color。
        inactive-color "#505050"
    }

    border {
        // off

        width 2
        active-color "#cba6f7"
        inactive-color "#45475a"

        // 请求你注意的窗口周围的边框颜色。
        urgent-color "#f5c2e7"
    }

    // 你可以为窗口启用投影。
    shadow {
        // 取消注释下一行即可启用阴影。
        on

        softness 30

        // spread 会扩展阴影范围。
        spread 5

        // offset 会让阴影相对窗口发生偏移。
        offset x=0 y=5

        // 你也可以调整阴影颜色和不透明度。
        color "#0007"
    }

    // Struts 会缩小窗口占用的区域，类似 layer-shell 面板。
    // 可以把它们理解为一种外部间隙，单位也是逻辑像素。
    // 左右 struts 会让侧边的下一个窗口始终保持可见。
    // 上下 struts 则只是在 layer-shell 面板和普通间隙之外再增加外部间隙。
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 0
    }
}

overview {
    // 设置概览中工作区背后的背景色
    backdrop-color "#1e1e2e"
}

prefer-no-csd

// 你可以修改截图保存路径。
// 以 ~ 开头会被展开为主目录。
// 该路径会经过 strftime(3) 格式化，从而把截图日期和时间写进去。
// screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// 也可以把它设为 null 来禁止把截图保存到磁盘。
screenshot-path null


animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001

        // duration-ms 640
        // curve "ease-out-quad"
        // curve "ease-out-cubic"
        // curve "ease-out-expo"
        // curve "linear"
        // curve "cubic-bezier" 0.95 -0.56 0.17 1
    }
    window-open {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }    
    window-movement {
    }

}

include "windowrules.kdl"
include "binds.kdl"
include "shell-switcher-binds.kdl"
include "outputs.kdl"
include "startup.kdl"
include "shell-switcher-startup.kdl"

include "./noctalia.kdl"
