layout {

    focus-ring {
        active-color   "#ad67e4"
        inactive-color "#1f1924"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#ad67e4"
        inactive-color "#1f1924"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1f192470"
    }

    tab-indicator {
        active-color   "#ad67e4"
        inactive-color "#540c8d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#ad67e480"
    }
}

recent-windows {
    highlight {
        active-color "#ad67e4"
        urgent-color "#fd4663"
    }
}
