layout {

    focus-ring {
        active-color   "#6779e4"
        inactive-color "#181926"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#6779e4"
        inactive-color "#181926"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#18192670"
    }

    tab-indicator {
        active-color   "#6779e4"
        inactive-color "#0c1e8d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#6779e480"
    }
}

recent-windows {
    highlight {
        active-color "#6779e4"
        urgent-color "#fd4663"
    }
}
