layout {

    focus-ring {
        active-color   "#7a67e4"
        inactive-color "#1d1c21"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#7a67e4"
        inactive-color "#1d1c21"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1d1c2170"
    }

    tab-indicator {
        active-color   "#7a67e4"
        inactive-color "#1f0c8d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#7a67e480"
    }
}

recent-windows {
    highlight {
        active-color "#7a67e4"
        urgent-color "#fd4663"
    }
}
