// Start up Commands

// Shell startup is managed by shell-switcher-startup.kdl.
spawn-at-startup "fcitx5" "-d"
// spawn-at-startup "sunshine"
spawn-at-startup "swayidle"
spawn-at-startup "lxqt-policykit-agent"
// spawn-sh-at-startup "$HOME/.config/niri/Scripts/zed-resize-fix.sh"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
skip-at-startup
}
